@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playpen+Sans&family=Roboto&family=Sometype+Mono&display=swap");
body {
  font-family: "Arial", sans-serif;
  color: #6c757d;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15%;
  background-image: url("./images/wave-2.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}

.navbar-custom {
  background-color: #007bff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar-custom .nav-link {
  color: white;
  width: 23%;
  display: block;
  text-align: center;
}
.navbar-custom .nav-link:hover {
  color: #e6e6e6;
}
.navbar-custom .nav-link nav,
.navbar-custom .nav-link .boxes,
.navbar-custom .nav-link footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar-custom .nav-link nav a {
  width: 23%;
}
.navbar-custom .nav-link .flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}
.navbar-custom .nav-link .flex-item {
  flex: 1;
  margin: 5px;
}

.home-intro {
  padding: 20px 0;
  background-color: #3395ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-intro h1 {
  color: #004a99;
}

.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.portfolio-item .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body a.btn.btn-primary {
  width: 10rem;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 3rem;
  justify-content: center;
  /* Adjust the width as needed */
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  margin-left: 40rem;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}

.contact-page-container h1 {
  text-align: center;
  margin-left: 35rem;
  margin-top: 1rem;
  width: 10rem;
}

.contact-page-container p {
  text-align: center;
  margin-left: 35rem;
  margin-top: 1rem;
  width: 10rem;
}

.form-group {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.btn.btn-primary {
  margin-left: 30rem;
  margin-top: 1rem;
  width: 10rem;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}
.contact-form .form-control {
  border-radius: 0;
}
.contact-form button[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
}
.contact-form button[type="submit"]:hover {
  background-color: #0062cc;
}

@media (max-width: 768px) {
  .navbar-custom .nav-link {
    color: #6c757d;
  }
} 
