@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playpen+Sans&family=Roboto&family=Sometype+Mono&display=swap");
body {
  font-family: "Arial", sans-serif;
  color: #6c757d;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15%;
  background-image: url("./images/wave-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.navbar-custom {
  background-color: #007bff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar-custom .nav-link {
  color: white;
  width: 23%;
  display: block;
  text-align: center;
}
.navbar-custom .nav-link:hover {
  color: #e6e6e6;
}
.navbar-custom .nav-link nav,
.navbar-custom .nav-link .boxes,
.navbar-custom .nav-link footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navbar-custom .nav-link nav a {
  width: 23%;
}
.navbar-custom .nav-link .flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}
.navbar-custom .nav-link .flex-item {
  flex: 1;
  margin: 5px;
}

#main{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}

#main h1{
  font-size:4rem;
  text-shadow: 0 0 4px dodgerblue;
}
#main img{
  width:20rem;
  border: 10px solid #fff;
/* border-radius:40px 0 40px 0; */
}
#main .row{
  justify-content: center;
  align-items: center;
}
#skills{
  padding: 4rem 0 4rem 0;
  color:#333;
  border-radius: 10px;
}

.home-intro {
  padding: 20px 0;
  background-color: #3395ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-intro h1 {
  color: #004a99;
}

.header-head {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}
.header-head h2,
p {
  margin: 0;
}

#portfolio-main {
  text-align: center;
}

#portfolio-main .row {
  margin-bottom: 2rem;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.portfolio-item .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact {
  padding:4rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  width:70%;
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }

  #main{
    text-align: center;
  }

  #portfolio-main .row {
    margin: 0 !important;
  }

  .col-lg-4:not(:last-child) {
    margin-bottom: 2rem !important;
  }

  .navbar-custom .nav-link {
    color: #6c757d;
  }
  #contact{
    text-align: center;
  }
#contact .btn{
  width:100%;
}
}